<mat-card>

  <mat-card-header>Edit character</mat-card-header>

  <br>

  <mat-card-content>

    <form [formGroup]="form">

      <div>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name" name="name" >
          <mat-error *ngIf="form.get('name').hasError('required') && form.get('name').dirty">
            Pflichtfeld!
          </mat-error>
          <mat-error *ngIf="form.get('name').hasError('maxlength') && form.get('name').dirty">
            Maximal 30 Zeichen erlaubt!
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput formControlName="culture" placeholder="Culture" name="culture">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="save()" type="button">
        Save
      </button>

    </form>

  </mat-card-content>

</mat-card>
